
@font-face {
    font-family: claredonFont;
    src: url("../fonts/claredon.ttf");
}

@font-face {
    font-family: sourceLightFont;
    src: url("../fonts/SourceSansPro-Light.otf");
}

@font-face {
    font-family: sourceBlackFont;
    src: url("../fonts/SourceSansPro-Black.otf");
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000; /* the border of container wasn't showing up without z-index*/
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
    .email-link{
        font-size: 1.5em;
    }


}

@media all and (min-width: 960px) {
    .title11 {
        font-size: 3em;
        text-align: left;
    }

    .title12 {
        font-size: 3em;
        text-align: left;
    }

    .title2 {
        font-size: 2.3em;
        text-align: left;
    }

    .copy {
        font-size: 1.3em;
    }
    .email-link{
        font-size: 1.5em;
    }

}

@media all and (max-width: 959px) and (min-width: 600px) {
    .title11 {
        font-size: 2.7em;
        text-align: left;
    }

    .title12 {
        font-size: 2.7em;
        text-align: left;
    }

    .title2 {
        font-size: 2.3em;
        text-align: left;
    }

    .copy {
        font-size: 1.1em;
    }
    .email-link{
        font-size: 1.5em;
    }


    /*.portfolio {
        margin: 20px;
    }*/
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .title11 {
        font-size: 2.2em;
        text-align: center;
    }

    .title12 {
        font-size: 2.2em;
        text-align: center;
    }

    .title2 {
        font-size: 1.8em;
        text-align: center;
    }

    .copy {
        font-size: 1em;
    }

    .email-link{
        font-size: 1em;
    }

    /*.portfolio {
        margin: 10px;
    }*/

}

@media all and (max-width: 320px) {
    .title11 {
        font-size: 2.2em;
        text-align: center;
    }

    .title12 {
        font-size: 2.2em;
        text-align: center;
    }

    .title2 {
        font-size: 1.6em;
        text-align: center;
    }
    .email-link{
        font-size: 1em;
    }


    /*.portfolio {
        margin: 5px;
    }*/

}

a {
    text-decoration: none;
    color: #455a64;
}

a:hover {
    text-decoration: overline;
    background: none;
    filter: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
}

a:active {
    text-decoration: none;
    color: #455a64;
}

/*a:visited {
text-decoration:none;
color: #404041;
}*/
html {

    border: 10px;
    border-style: solid;
    border-color: white;
}

body {
    background-color: #f3f3f3;

}

.container {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

.navbar-custom {
    background-color: #ffffff;
    height: 10em;
    padding: 0;
    margin: 0;

}


.navbar-content {
    padding-top: 3%;
    padding-right: 4%;
    padding-left: 4%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;


}


.absolute-bottom{
   bottom:20px;
   position: absolute;
    width: 100%;
}


.absolute-parent {
  height: 100%;

  position: relative;
  padding-left:0;
}

.title11 {
    display: inline-block;
    /*background-color: yellow;*/
    font-family: sourceBlackFont;
    color: #000000;
    text-transform: uppercase;
    line-height: 1em;
}

.title12 {
    display: inline-block;
    /*background-color: yellow;*/
    font-family: sourceBlackFont;
    text-size: 3em;
    color: #000000;
    text-transform: uppercase;
    /*margin-top: -10%;*/
    line-height: 1em;

}


/* Grow Rotate */
.grow-rotate {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
    cursor: pointer;
}


.nav {

    color: #000000;
    font-size: 2em;
    /*background-color:yellow;*/
    font-family: sourceLightFont;
    text-align: center;
    font-smooth: always;
    border-radius: 3px;





}

.nav:hover {
    text-decoration: overline;
    cursor: pointer;
}

.nav:active {
    text-decoration: overline;
    cursor: pointer;
}

.nav-title:hover {
    cursor: pointer;
}




.inner-wrap {


    width: 90%;
    padding: 4%;

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}

.content {

    /*background-color: white;
    min-width: 0;

    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.19),-3px 0px 6px 0px rgba(0, 0, 0, 0.19),3px 0px 6px 0px rgba(0, 0, 0, 0.19),0px 10px 20px 0px rgba(0, 0, 0, 0.22);
*/
}

#content-about{
  /*background-image: url("../img/bg_birds-01.svg");*/
}
.sheet {



}

.homesheetrow {
    padding: 5px;
    margin: 0;

}

.break {
    height: 30px;
}

.portfolio {

    display: block;
    height: 250px;
    background-size: contain;
    background-position: center;

    background-color: #f5f5f5;
    background-repeat: no-repeat;
    border: 0px;
    border-color: darkgray;
    border-style: solid;
    position: relative;
    padding-left: 0px;
    padding-top: 0px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.15s;
    -webkit-transition: background-color 200ms ease-out 0.15s;
    -moz-transition: background-color 200ms ease-out 0.15s;
    -o-transition: background-color 200ms ease-out 0.15s;
    transition: background-color 200ms ease-out 0.15s;

    /*background-image: url("../02-Assets/JPG/portfolio content/slide1_1.jpg");*/
    /*background-repeat: no-repeat;
    background-size: 250%;
    background-position: 30% 44%;*/
}

.portfolio:hover {
    cursor: pointer;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5);
    transition-delay: 0s;
    background-color: white;

}

    /*box-shadow: 0px -0.5px 1px 0px rgba(0, 0, 0, 0.15), -1px 0px 2px 0px rgba(0, 0, 0, 0.15), 1px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 5px 10px 0px rgba(0, 0, 0, 0.22);
}*/

/*.portfolio:active {
    border-color: #404041;
    /*box-shadow: 3px 3px 2px 2px #6A7D79;
}*/
.label1 {
    background: #bf395b;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0;
    /*-webkit-transition: opacity 0.1s ease-in-out 0s;
    -moz-transition: opacity 0.1s ease-in-out 0s;
    -o-transition: opacity 0.1s ease-in-out 0s;
    transition: opacity 0.1s ease-in-out 0s;*/
    /*z-index: 1000;*/
    text-align: center;

    border-radius: 3px;
    position: absolute;

    display: table;
    /*use this is want border on hover*/
    /*border: 2px solid #404041;
    margin: 0;
    padding: 0;*/
}

.label1 .label_text {
    text-align: center;
    width: 100%;
    height: 100%;
    /*background-color: #f5f5f5;*/
    /*background-color: black;*/
    display: table-cell;
    vertical-align: middle;

    color: white;
    font-size: 3em;
    line-height: 1em;
    letter-spacing: .07em;
    font-family: sourceBlackFont;

    /*border-radius: 4px;*/

    /*text-transform: uppercase;*/

    /*margin-top: 50%;
    bottom: 0px;
    padding: 12px 10px;
    margin: 0 auto;
    color:red;
    text-align:center;
    width:100%;
    height:100%;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: .07emf
    */
    /*opacity: 0;*/
}

.label_frstrs{

    background-color:rgba(94,39,80,0.75);
}

.label_tca{

    background-color:rgba(255,98,79,0.6);
}

.label_blm{

    background-color:rgba(208,209,97,0.8);
}
 .label_afnn{
     background-color: rgba(176,180,187,0.5);
 }

.label_bindings{
    background-color:rgba(0,149,159,0.5);
}

.label_vctr {

    background-color:rgba(215,26,96,0.5);
}

.label_yrp{
    background-color: rgba(213,160,0,0.5);
}

.label1:hover {
    opacity: 1;
    /*transition-delay: 0.15s;*/
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.element1 {
    position: relative;
    background-image: url("../img/tca/tca_w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.element2 {
    background-image: url("../img/yrp_pht_mckp_car.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.element3 {
    background-image: url("../img/blm_thumbnail1.jpg");

    background-size: cover;    background-repeat: no-repeat;
}

.element4 {
    background-image: url("../img/photo_afn_mockupx2000+.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.element5 {
    background-image: url("../img/graphic/bind_embroid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.element6 {
    background-image: url("../img/portfolio_elements-13.png");
    background-size: 90px;
    background-repeat: no-repeat;
}

.element8 {
    background-image: url("../img/vctr_pht_mckp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.element9 {
    position: relative;
    background-image: url("../img/frstrs_drbl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*.page2 .content
{
    background-color: black;
}*/

.weblinks {
    text-align: center;
    font-family: sourceLightFont;
    font-size: 1.5em;
    padding: 5px;
    color: white;


}

.customlink {
    color: #ffffff;
    text-decoration: none;

}

.customlink:hover {
    color: #ffffff;
    text-decoration: overline;
}

.customlink:visited {
    color: #ffffff;
    text-decoration: overline;
}

.copyright {
    font-family: sourceLightFont;
    color: #ffffff;
    text-align: center;

}

.about {
    font-family: sourceLightFont;
    padding-left: 2%;
    padding-right: 2%;
    color: #455a64;
}

br {

    text-indent: 50px;

}

.copy {
    font-family: sourceLightFont;
    padding: 2%;
    color: #455a64; /*unused color #;*/
}

.workcontainer {
    display: block;
    margin: auto auto;
    width: 100%;
    max-width: 960px;

}

.work {

    min-width: 10px;

}

p {
    text-indent: 40px;
}

/*.aboutimg {
    display: block;

    background-size: contain;
    background-position: center;


    background-repeat: no-repeat;

    position: relative;
    padding-left: 0;
    padding-top: 0;
}*/
.aboutimgbg {
    padding-top: 2%;
    background-image: url("../img/ava_smaller.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 120px;
    margin: 0 auto;

}

.logo {
    padding: 2%;

    /*background-image: url("img/mnb_logo.png");
     display: block;
     height: 100px;;
     background-size:contain;
     background-position:center;
     background-repeat:no-repeat;*/
}

.descriptline {
    display: block;
    margin: auto auto;
    width: 100%;

    max-width: 960px;

}

.imgwork {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

}
.img765 {
    max-width: 765px;
}

.afnani_imgwork {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.afnani_descriptline{
    display: block;
    margin: auto auto;
    width: 100%;

    max-width: 600px;

}

::-webkit-scrollbar {
    background: #ffffff;
    repeat: no-repeat;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-track-piece {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 28, 39);
}

::-moz-scrollbar {
    background: white;
    repeat;
    width: 10px;
}

::-moz-scrollbar-track {
    background: none;
}

::-moz-scrollbar-track-piece {
    background: none;
}

::-moz-scrollbar-thumb {
    background: rgb(36, 28, 39);
}

.footer{
    background-color: rgba(36, 28, 39, 0.85);

    height:100%;
    margin: 0;
    padding: 15px;

}

.footer-content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.scl_icn{
    color: green;
    max-width: 30px;
}

.scl_icn:hover{
    cursor: pointer;
}

.frstrs {
    /*position: absolute;*/
   /*margin-left: 0;*/
    /*margin-right: auto;*/
}

.email-link {
    text-transform: uppercase;
    font-family: SourceBlackFont;
    text-align: center;
    padding: 5px;
    color: white;

}

/* Buzz Out */
@-webkit-keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.buzz-out {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out:hover, .buzz-out:focus, .buzz-out:active {
    -webkit-animation-name: buzz-out;
    animation-name: buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/**loader**/

 .bubblingG {
     text-align: center;
     width:55px;
     height:34px;
 }

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin: 17px auto;
    background: #5E085E;
    -moz-border-radius: 35px;
    -moz-animation: bubblingG 1.2s infinite alternate;
    -webkit-border-radius: 35px;
    -webkit-animation: bubblingG 1.2s infinite alternate;
    -ms-border-radius: 35px;
    -ms-animation: bubblingG 1.2s infinite alternate;
    -o-border-radius: 35px;
    -o-animation: bubblingG 1.2s infinite alternate;
    border-radius: 35px;
    animation: bubblingG 1.2s infinite alternate;
}

#bubblingG_1 {
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

#bubblingG_2 {
    -moz-animation-delay: 0.36s;
    -webkit-animation-delay: 0.36s;
    -ms-animation-delay: 0.36s;
    -o-animation-delay: 0.36s;
    animation-delay: 0.36s;
}

#bubblingG_3 {
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

@-moz-keyframes bubblingG {
    0% {
        width: 7px;
        height: 7px;
        background-color:#5E085E;
        -moz-transform: translateY(0);
    }

    100% {
        width: 17px;
        height: 17px;
        background-color:#CFCFCF;
        -moz-transform: translateY(-14px);
    }

}

@-webkit-keyframes bubblingG {
    0% {
        width: 7px;
        height: 7px;
        background-color:#5E085E;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 17px;
        height: 17px;
        background-color:#CFCFCF;
        -webkit-transform: translateY(-14px);
    }

}

@-ms-keyframes bubblingG {
    0% {
        width: 7px;
        height: 7px;
        background-color:#5E085E;
        -ms-transform: translateY(0);
    }

    100% {
        width: 17px;
        height: 17px;
        background-color:#CFCFCF;
        -ms-transform: translateY(-14px);
    }

}

@-o-keyframes bubblingG {
    0% {
        width: 7px;
        height: 7px;
        background-color:#5E085E;
        -o-transform: translateY(0);
    }

    100% {
        width: 17px;
        height: 17px;
        background-color:#CFCFCF;
        -o-transform: translateY(-14px);
    }

}

@keyframes bubblingG {
    0% {
        width: 7px;
        height: 7px;
        background-color:#5E085E;
        transform: translateY(0);
    }

    100% {
        width: 17px;
        height: 17px;
        background-color:#CFCFCF;
        transform: translateY(-14px);
    }

}


  <div class="bubblingG">
<span id="bubblingG_1">
</span>
  <span id="bubblingG_2">
</span>
  <span id="bubblingG_3">
</span>
  </div>