
.main {
  height: 3000px;
}

//
//body {
//  padding: 50px;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//}

//this is cool
//strange

a {
  color: red;
  text-align: left;

}

.content {
  margin-top: 50px;
}

.testClass {
  background-color: yellow;
}