@font-face
{
    font-family: vrindaFont;
    src: url("../fonts/vrinda_F.ttf");
}

@font-face
{
    font-family: alakoFont;
    src: url("../fonts/alako_5.ttf");
}

@font-face
{
    font-family: claredonFont;
    src: url("../fonts/claredon.ttf");
}

@font-face
{
    font-family: yxlightFont;
    src: url("../fonts/yanone-xlight.ttf");
}

@font-face
{
    font-family: ylightFont;
    src: url("../fonts/yanone-light.ttf");
}

@font-face
{
    font-family: yregFont;
    src: url("../fonts/yanone-reg.ttf");
}

@font-face
{
    font-family: yboldFont;
    src: url("../fonts/yanone-bold.ttf");
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000; /* the border of container wasn't showing up without z-index*/
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

@media all and (min-width: 960px) {
    .title11{
        font-size: 3em;
        text-align:left;
    }
    .title12{
        font-size: 3.2em;
        text-align:left;
    }
    .title2 {
        font-size: 2.3em;
        text-align:left;
    }
    .about {
        font-size: 1.2em;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    .title11{
        font-size: 2.7em;
        text-align:left;
    }
    .title12{
        font-size: 2.9em;
        text-align:left;
    }
    .title2 {
        font-size: 2.3em;
        text-align:left;
    }
    .about {
        font-size: 1.1em;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .title11{
        font-size: 2.2em;
        text-align:center;
    }
    .title12{
        font-size: 2.35em;
        text-align:center;
    }
    .title2{
        font-size: 1.8em;
        text-align:center;
    }
    .about {
        font-size: 1em;
    }

}

@media all and (max-width: 320px){
    .title11{
        font-size: 2.2em;
        text-align:center;
    }
    .title12{
        font-size: 2.35em;
        text-align:center;
    }
    .title2{
        font-size:1.6em;
        text-align:center;
    }

}

a {
    text-decoration:none;
    color: #404041;
}

a:hover {
    text-decoration:overline;
    background:none;
    filter:none;
    box-shadow:none;
    border-radius:0;
    border:none;
}

a:active{
    text-decoration:none;
    color: #404041;
}

/*a:visited {
text-decoration:none;
color: #404041;
}*/

body {
    /* background-image:url("img/blur4.jpg");*/
    background-size:cover;
    border: 10px;
    border-style: solid;
    border-color: #404041;
}
.container{
    /*padding: 1%;
    margin-left: 10%;*/
    width:100%;
    margin-bottom:0;


}
.inner-wrap {
    width: 90%;
    padding: 4%;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;

}

.title11 {
    display: inline-block;
    /*background-color: yellow;*/
    font-family: claredonFont;
    color: #404041;
}

.title12 {
    display: inline-block;
    /*background-color: yellow;*/
    font-family: claredonFont;
    color: #404041;
    margin-top: -5%;

}

.title2 {
    /*background-color: yellow;*/
    font-family: yboldFont;
    margin-top: 1em;
    color: #404041;
    margin-bottom: 10%;
}

/*.logo{
    max-width: 100%;
    max-height: 100%;
    display:block;

    margin-left: auto;
    margin-right:auto;
    margin-bottom:2%;
}*/

.logodiv{
    height: 200px;
    /*background-color:yellow;*/
    position:relative;
    margin-border:2%;
}

.nav {
    font-size: 2em;
    /*background-color:yellow;*/
    font-family: ylightFont;
    text-align: center;
    font-smooth: always;

}

.content{
    background-color: teal;
}

.break {
    height:30px;
}

.label1{
    color: #404041;
    background: #323232;
    /*margin-top: -10px;
    bottom: 0px;
    padding: 12px 10px;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: .07em;*/
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity:0;
    -webkit-transition: opacity: 0ms;
    -moz-transition: opacity 0ms;
    -o-transition: opacity 0ms;
    transition: opacity 0ms;
    z-index:1000;
    text-align:center;
    display: table;

    border: 2px solid #404041;
    margin:0;
    padding: 0;
}

.label1 .label_text{

    width:100%;
    height:100%;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    border:0;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: .07em;
    font-family: yregFont;
    text-transform: uppercase;

    /*margin-top: 50%;
    bottom: 0px;
    padding: 12px 10px;
    margin: 0 auto;
    color:red;
    text-align:center;
    width:100%;
    height:100%;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: .07em
    */
}
.label1:hover{
    opacity:1;
}

.portfolio {
    background-image: url("../img/portfolio_elements-01.jpg");
    display: block;
    height: 250px;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    border: 2px;
    border-color: white;
    border-style: solid;
    position: relative;
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 40px;


    /*background-image: url("../02-Assets/JPG/portfolio content/slide1_1.jpg");*/
    /*background-repeat: no-repeat;
    background-size: 250%;
    background-position: 30% 44%;*/
}


/*.portfolio:hover {
 border-color: #404041;
    /*box-shadow: 3px 3px 2px 2px #6A7D79;
}

.portfolio:active {
    border-color: #404041;
    /*box-shadow: 3px 3px 2px 2px #6A7D79;
}*/

.element2{
    background-image: url("../img/portfolio_elements-02.jpg");
}


.element3{
    background-image: url("../img/portfolio_elements-03.jpg");
}
.element4{
    background-image: url("../img/portfolio_elements-04.jpg");
}

.weblinks {
    text-align:center;
    font-family: yregFont;
    font-size: 1.5em;
}

.copyright{
    color: white;
    text-align: center;
}

.about {
    font-family: claredonFont;

}

br {

    text-indent: 50px;

}

.copy {
    padding: 2%;
    color:white;
}

.workcontainer {
    min-width:0;
}

.work {

    min-width: 10px;

}



.logo {
    margin-left:auto;
    margin-right:auto;
    padding: 15px;

    /* background-image: url("img/mnb_logo.png");
     display: block;
     height: 100px;;
     background-size:contain;
     background-position:center;
     background-repeat:no-repeat;*/
}
.descriptline {
    max-width: 765px;
    margin-left:auto;
    margin-right:auto;

}
.imgwork {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 765px;
}

::-webkit-scrollbar {background:#404041; repeat; width:10px;}
::-webkit-scrollbar-track {background:none;}
::-webkit-scrollbar-track-piece {background:none;}
::-webkit-scrollbar-thumb {background:rgb(255,255,255);}

::-moz-scrollbar {background:#E6E7E8; repeat; width:10px;}
::-moz-scrollbar-track {background:none;}
::-moz-scrollbar-track-piece {background:none;}
::-moz-scrollbar-thumb {background:rgb(255,255,255);}