<div class="content" id="content-about">

    <div class="row descriptline">

        <div class="col-md-12">
            <div class="aboutimgbg"></div>
        </div>
        <div class="col-md-12 copy">

            <p>Hey There 3333!</p>

            <p>
                I am a <strong><span style="color:black;">digital designer</span></strong> currently located in <strong>Toronto</strong>.
                I love design in all of its forms. My main professional interest is UX / UI design, though, I also like
                working with different types of projects
                related to print, graphics, brand identity. In general, I enjoy work that challenges my creativity and
                my skills.
            </p>

            <p>
                <strong><span style="color:black;"> Some facts about me:</span></strong>
            <ol>
                <li>I had two pet rats when growing up. And two pet frogs. Also, a budgie, a hamster, and a cat. I also
                    had a rabbit once.
                    When my beta fish died in 2012 I got pretty upset. Now, I'm gathering info about sustaining a
                    chameleon. I just love how their eyes
                    can rotate 360°. I hope to get one soon.
                </li>
                <li>
                    I had <span style="color:purple;"> purple</span> hair once while in highschool.
                </li>

                <li>Countries I've visited to date:
                    <p>- UK - OAE - Switzerland - Egypt - Turkey - Bulgaria - Lithuania - Malta - Montenegro -</p>

                    <p>- Poland - Germany - Belgium - Netherlands - France (Paris) -</p>

                    <p>- Hungary - Austria - Italy - France (Cote D'Azure)- Spain -</p>

                </li>
                <li>I like asking questions.</li>
                <li>I want to run a half marathon in the near future. I'm starting with 5K this year.</li>
            <li>I like all things space, but no aliens.</li>

                <li>I'm currently reading:

                    <br>
                    <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
                    <style type="text/css" media="screen">
                        .gr_custom_container_1429550837 {
                            /* customize your Goodreads widget container here*/
                            border: 1px solid #e1e1e1;
                            border-radius:10px;
                            padding: 10px 5px 10px 5px;
                            background-color: transparent;
                            color: #000000;
                            width: 500px
                        }
                        .gr_custom_header_1429550837 {
                            /* customize your Goodreads header here*/
                            border-bottom: 1px solid gray;
                            width: 100%;
                            margin-bottom: 5px;
                            text-align: center;
                            font-size: 120%
                        }
                        .gr_custom_each_container_1429550837 {
                            /* customize each individual book container here */
                            width: 100%;
                            clear: both;
                            margin-bottom: 10px;
                            overflow: auto;
                            padding-bottom: 4px;
                            border-bottom: 1px solid #aaa;
                        }
                        .gr_custom_book_container_1429550837 {
                            /* customize your book covers here */
                            overflow: hidden;
                            height: 60px;
                            float: left;
                            margin-right: 4px;
                            width: 39px;
                        }
                        .gr_custom_author_1429550837 {
                            /* customize your author names here */
                            font-size: 10px;
                        }
                        .gr_custom_tags_1429550837 {
                            /* customize your tags here */
                            font-size: 10px;
                            color: gray;
                        }
                        .gr_custom_rating_1429550837 {
                            /* customize your rating stars here */
                            float: right;
                        }
                    </style>

                    <div id="gr_custom_widget_1429550837">
                        <div class="gr_custom_container_1429550837">
                            <h2 class="gr_custom_header_1429550837">
                                <a href="https://www.goodreads.com/review/list/5562164-oleksandra?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Oleksandra's bookshelf:</a>
                            </h2>
                            <div class="gr_custom_each_container_1429550837">
                                <div class="gr_custom_book_container_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1013694172?utm_medium=api&amp;utm_source=custom_widget" title="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration"><img alt="Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration" border="0" src="https://d.gr-assets.com/books/1386952285s/18077780.jpg" /></a>
                                </div>
                                <div class="gr_custom_title_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1013694172?utm_medium=api&amp;utm_source=custom_widget">Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration</a>
                                </div>
                                <div class="gr_custom_author_1429550837">
                                    by <a href="https://www.goodreads.com/author/show/5618463.Ed_Catmull">Ed Catmull</a>
                                </div>
                            </div>
                            <div class="gr_custom_each_container_1429550837">
                                <div class="gr_custom_book_container_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1142413512?utm_medium=api&amp;utm_source=custom_widget" title="100 Ideas That Changed Graphic Design"><img alt="100 Ideas That Changed Graphic Design" border="0" src="https://d.gr-assets.com/books/1333468616s/13529441.jpg" /></a>
                                </div>
                                <div class="gr_custom_title_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1142413512?utm_medium=api&amp;utm_source=custom_widget">100 Ideas That Changed Graphic Design</a>
                                </div>
                                <div class="gr_custom_author_1429550837">
                                    by <a href="https://www.goodreads.com/author/show/5726.Steven_Heller">Steven Heller</a>
                                </div>
                            </div>
                            <div class="gr_custom_each_container_1429550837">
                                <div class="gr_custom_book_container_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624501?utm_medium=api&amp;utm_source=custom_widget" title="Smashing UX Design: Foundations for Designing Online User Experiences"><img alt="Smashing UX Design: Foundations for Designing Online User Experiences" border="0" src="https://d.gr-assets.com/books/1348596078s/8675550.jpg" /></a>
                                </div>
                                <div class="gr_custom_title_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624501?utm_medium=api&amp;utm_source=custom_widget">Smashing UX Design: Foundations for Designing Online User Experiences</a>
                                </div>
                                <div class="gr_custom_author_1429550837">
                                    by <a href="https://www.goodreads.com/author/show/6655078.Jesmond_Allen">Jesmond Allen</a>
                                </div>
                            </div>
                            <div class="gr_custom_each_container_1429550837">
                                <div class="gr_custom_book_container_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624511?utm_medium=api&amp;utm_source=custom_widget" title="Designing Multi-Device Experiences: An Ecosystem Approach to User Experiences across Devices"><img alt="Designing Multi-Device Experiences: An Ecosystem Approach to User Experiences across Devices" border="0" src="https://d.gr-assets.com/books/1387301693s/17623610.jpg" /></a>
                                </div>
                                <div class="gr_custom_title_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624511?utm_medium=api&amp;utm_source=custom_widget">Designing Multi-Device Experiences: An Ecosystem Approach to User Experiences across Devices</a>
                                </div>
                                <div class="gr_custom_author_1429550837">
                                    by <a href="https://www.goodreads.com/author/show/252601.Michal_Levin">Michal Levin</a>
                                </div>
                            </div>
                            <div class="gr_custom_each_container_1429550837">
                                <div class="gr_custom_book_container_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624517?utm_medium=api&amp;utm_source=custom_widget" title="Basics Interactive Design: Interface Design: An introduction to visual communication in UI design"><img alt="Basics Interactive Design: Interface Design: An introduction to visual communication in UI design" border="0" src="https://d.gr-assets.com/books/1408914837s/15806850.jpg" /></a>
                                </div>
                                <div class="gr_custom_title_1429550837">
                                    <a href="https://www.goodreads.com/review/show/1211624517?utm_medium=api&amp;utm_source=custom_widget">Basics Interactive Design: Interface Design: An introduction to visual communication in UI design</a>
                                </div>
                                <div class="gr_custom_author_1429550837">
                                    by <a href="https://www.goodreads.com/author/show/7915272.David_Wood">David     Wood</a>
                                </div>
                            </div>
                            <br style="clear: both"/>

                        </div>

                    </div>
                    <script src="https://www.goodreads.com/review/custom_widget/5562164.Oleksandra's%20bookshelf:?cover_position=left&cover_size=small&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=1&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1429550837&widget_text_color=000000&widget_title_size=medium&widget_width=wide" type="text/javascript" charset="utf-8"></script>

                </li>

            </ol>

            <br> <br> <br> <br> <br> <br> <br>

            <p>
                Please drop me a line to get in touch. Cheers!</p>



            <!--<div class="blog_menu">

            </div>--->

        </div>
        <!--<img src="img/background_bright_stripe.png" alt="" width="100%" style="margin-top: 0;"/>-->
    </div>
</div>