<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="row descriptline">
        <div class="col-md-12">
            <div class="aboutimgbg"></div>
        </div>
        <div class="col-md-12 copy">

            <p>Hey There!</p>

            <p>
                I am a graphic designer currently located in Toronto. I love design in all of its forms – either it's
                good usability, pretty things, or even better BOTH.
            </p>



                <p>
                I am mainly interested in UX / UI design, though, I also like working with different types of projects
                related to print, graphics, brand identity. In general, I enjoy work that challenges my creativity and
                my
                skills.
            </p>

            <p>
                I try to spend my off time outdoors, with friends, enjoying occasional boardgaming, learning Mandarin
                and
                staying current on design trends.
            </p>

            <p>
                Please drop me a line to get in touch. Cheers!</p>


        </div>
    </div>
</div>