
<div class="content" id="content-about">

    <div class="row descriptline">

        <div class="col-md-12">
            <div class="aboutimgbg"></div>
        </div>
        <div class="col-md-12 copy">

            <p>Hey There!</p>

            <p>
                I am a <strong><span style="color:black;">digital designer</span></strong> currently located in <strong>Toronto</strong>. I love design in all of its forms. My main professional interest is UX / UI design, though, I also like working with different types of projects
                related to print, graphics, brand identity. In general, I enjoy work that challenges my creativity and
                my skills.
            </p>
            <p>
                <strong><span style="color:black;"> Some facts about me:</span></strong>
                <ol>
            <li>I had two pet rats when growing up. And two pet frogs. Also, a budgie, a hamster, and a cat. I also had a rabbit once.
            When my beta fish died in 2012 I got pretty upset. Now, I'm gathering info about sustaining a chameleon. I just love how their eyes
                can rotate 360°. I hope to get one soon.
            </li>
            <li>
                I had <span style="color:purple;"> purple</span> hair once while in highschool.
            </li>

            <li>Countries I've visited to date:
            <p>- UK - OAE - Switzerland - Egypt - Turkey - Bulgaria - Lithuania - Malta - Montenegro -</p>
                <p>- Poland - Germany - Belgium - Netherlands - France (Paris) -</p>
                <p>- Hungary - Austria - Italy - France (Cote D'Azure)- Spain -</p>

            </li>
            <li>I like asking questions.</li>

                </ol>
            </p>
            <br>
            <p>
                Please drop me a line to get in touch. Cheers!</p>


        </div>
        <!--<img src="img/background_bright_stripe.png" alt="" width="100%" style="margin-top: 0;"/>-->
    </div>
</div>