<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="row copy">
        <div class="col-md-6 about">
            <br/>Currently based in Toronto, Oleksandra works on projects covering variety of design areas. Her main interest lays with  user experience and user interface design. Oleksandra's natural curiosity and strive for learning helps her with this uneasy task of discovering design solutions that will be accepted and loved by the companies and their clients.
            <br/>Oleksandra is also interested in branding and identity development. "My favourite part about building identity is the process of uncovering deeper layers of company's beliefs and orientation that helps develop a strong brand

        </div>
        <div class="col-md-6">
            <div class="row break"></div>
            <div class="row"><div class="col-md-12 weblinks">
            On the WEB
        </div> </div>
            <div class="row break">
            </div>
            <div class="row">
                <div class="col-md-12 weblinks"><a href="http://ca.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" class="customlink" target="_blank">LinkedIn</a></div>
                <div class="col-md-12 weblinks"><a href="https://www.behance.net/oleksandra_s" class="customlink" target="_blank">Bēhance</a></div>
                <div class="col-md-12 weblinks"><a href="http://www.dribbble.com/oleksandra" class="customlink" target="_blank">Dribbble</a></div>
            </div>
            <div class="row break"></div>
            <div class="row break"></div>
            <div class="row">
                <div class="col-md-12 weblinks">oleksandra.sydorenko@hotmail.com</div>
            </div>
        </div>
    </div>
</div>
