<div class="content">
    <div class="workcontainer ">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_01.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_02.jpg"
                                                                 alt=""/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_03.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_04.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_05.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_06.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_07.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/frstrs/frstrs_08.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row descriptline">

            <div class="col-md-12 copy">
                <p>UX / UI by Oleksandra Sydorenko while at Bendigi Technologies</p>
            </div>

        </div>
    </div>

    <div class="row break">
    </div>
</div>


