

<div class="content">
    <div class="workcontainer">


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="frstrs_img"
                                                                 src="../img/frstrs_forweb.jpg"
                                                                 alt="Where is the image?! Something went wrong..."/>
            </div>


</div>
    </div>
</div>