<div class="content">



        <div class="row">
            <img class="frstrs" src="../img/frstrs_forweb.jpg"
                 alt="Where is the image?! Something went wrong..."/>

        </div>



</div>