

<div class="content">

    <div class="row homesheetrow">
        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element9">

                <div class="label1 label_frstrs">
                    <div class="label_text ">
                       Foresters Canada (iPad App UI)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element1">

                <div class="label1 label_tca">
                    <div class="label_text">
                        TCA (Brand Identity, Logo)
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element3">
                <div class="label1 label_blm">
                    <div class="label_text">
                        Bloom network (iOS App UI)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element4">

                <div class="label1  label_afnn">
                    <div class="label_text">
                        Luxury menswear App (UX / UI)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element2">
                <div class="label1">
                    <div class="label_text">
                        UX / UI
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element6">
                <div class="label1">
                    <div class="label_text">
                        UI
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element8">

                <div class="label1">
                    <div class="label_text">
                        Logotype
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 homesheetrow">
            <div class="portfolio element5">
                <div class="label1">
                    <div class="label_text">
                        Logo Design
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
