
<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element1">

                <div class="label1">
                    <div class="label_text">
                        Brand Identity / Logo
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element2">
                <div class="label1">
                    <div class="label_text">
                        UX / UI
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element6">
                <div class="label1">
                    <div class="label_text">
                        UI
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element3">
                <div class="label1">
                    <div class="label_text">
                        Logo / Layout
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element4">

                <div class="label1">
                    <div class="label_text">
                        UX / UI
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="portfolio element5">
                <div class="label1">
                    <div class="label_text">
                        Graphic Design
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
