<div class="content">
    <div class="workcontainer ">
        <div class="row descriptline">

            <div class="col-md-12 copy">
                <p>A concept of an app for a police department in York Region.</p>


            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/yrp_pht_mckp.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/yrp_wrfrm-03.png"
                                                                 alt=""/>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                     src="../img/yrp_iph_frnt.png"
                                                                     alt=""/>
                </div>
            </div>


            <div class="row descriptline">

                <div class="col-md-12 copy">
                    <p>App UX / UI by Oleksandra Sydorenko while at Bendigi Technologies</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row break">
    </div>
</div>