<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">

            <div class="col-md-12 copy">
                <p>Bloom is a network of experienced female professionals helping guide female homeowners through the home buying or selling experience and beyond.</p>



            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/MiniDeskTop.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row descriptline">

            <div class="col-md-12 copy">

                <p>The Bloom App brings a network of trusted professionals to your fingertips before, during and after your real estate transaction. This invaluable resources has been developed to guide you through your real estate sale or purchase and beyond.</p>


            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/blm_img2_expln.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/blm_pht_mckp.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/blm_pmnts_scrn.png"
                                                                 alt=""/>
            </div>
        </div>

        <div class="row descriptline">

            <div class="col-md-12 copy">
                <p>Branding and website by Redtrain.</p>
                <p>App UI by Oleksandra Sydorenko while at Bendigi Technologies</p>
            </div>

        </div>
    </div>
</div>
<div class="row break">
</div>
