
<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">
            <div class="col-md-12 col-sm-12 col-xs-12 about copy">Miscellaneous projects
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/bindlogo.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/bind_embroid.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/burningman_frame.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/os_thick.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/slide9_1.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/slide8.jpg" alt=""/>
            </div>
        </div>

    </div>
</div>