
<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">
            <div class="col-md-12 col-sm-12 col-xs-12 about copy">UX / UI for a luxury menswear tailoring company.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/afn_home_x600.gif"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/Afn_collection_x600.gif"
                                                                 alt=""/>
            </div>
        </div>



    </div>
</div>