<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">

            <div class="col-md-12 copy">
                Logo Design / Brochure Layout<br/>"Mind and Body Unleashed" is a
                fitness and life coaching company. Custom lettering logo was created as part of
                brand redesign.

            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/mind and body unleashed-03.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/brochure_mockup_front.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/brochure_mockup_back.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/brochure_mindandbody.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/brochure_mindandbody2.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mnb/mindandbody_pressed.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
<div class="row break">
</div>
