<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="workcontainer">
        <div class="row">
            <div class="descriptline">
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 col-xs-6 about copy"><img class="logo" src="../img/mnb_logo.png"
                                                                            alt=""/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 about copy"><strong>Logo and Brochure Layout</strong><br/>"Mind and Body Unleashed" is a
                        fitness and life coaching company. Custom lettering logo was created as part of
                        brand redesign.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mind and body unleashed-03.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/brochure_mockup_front.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/brochure_mockup_back.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/brochure_mindandbody.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/brochure_mindandbody2.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/mindandbody_pressed.jpg" alt=""/>
            </div>
        </div>
    </div>
</div>
<div class="row break">
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 weblinks">
        On the WEB
    </div>
</div>
<div class="row break">
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3 weblinks"><a
            href="http://ca.linkedin.com/pub/oleksandra-sydorenko/40/571/b78" target="_blank">LinkedIn</a>
    </div>
    <div class="col-md-2 weblinks"><a href="https://www.behance.net/oleksandra_s"
                                      target="_blank">Bēhance</a></div>
    <div class="col-md-2 weblinks"><a href="http://www.dribbble.com/oleksandra" target="_blank">Dribbble</a>
    </div>
</div>