<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">
            <div class="col-md-12 col-sm-12 col-xs-12 about copy">Logo design for a company producer of wakeboards and snowboards bindings
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/bindlogo.jpg"
                                                                 alt="Where is the image?! Something went wrong..."/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/graphic/bind_embroid.jpg"
                                                                 alt="Where is the image?! Something went wrong..."/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/bindingsLogoSketch.jpg"
                                                                 alt="Where is the image?! Something went wrong..."/>
            </div>
        </div>


    </div>
</div>