<div class="row break">
</div>
<div class="row break">
</div>
<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">
                <div class="col-md-12 col-sm-12 col-xs-12 about copy">UX and UI design for a mobile game application for Android.
                    The application is using newly released Google Maps Street View API for mobile to generate a random location
                    with images available.
                </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/ss/ss_view_01.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/ss/ss_hints.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/ss/ss_view_02.jpg" alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/ss/ss_sketch.jpg" alt=""/>
            </div>
        </div>

    </div>
</div>

