
<div class="content">
    <div class="workcontainer">
        <div class="row descriptline">
            <div class="col-md-12 col-sm-12 col-xs-12 about copy">UX / UI for a web-based game "Lions and Leopards". Published on Chrome Web Store
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/lnl/slide1_1.jpg"
                                                                 alt=""/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 work"><img class="imgwork"
                                                                 src="../img/lnl/lnl_macbook_air.jpg"
                                                                 alt=""/>
            </div>
        </div>



    </div>
</div>